<nz-layout>
  <!-- Sidenav starts -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <a routerLink="/home"><img src="\assets\Images\Logo.png" width="50px" height="50px" alt="Logo"
          class="img-fluid"></a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        <span cNavLink routerLink="" routerLinkActive="active-link">Dashboard</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="wallet" nzTheme="outline"></i>
        <span cNavLink routerLink="/fee-payment" routerLinkActive="active-link">Fee-Payment</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
        <span cNavLink routerLink="/fee-statement" routerLinkActive="active-link">Fee-Statement</span>
      </li>
      <li nz-submenu nzTitle="Mini-Statement" nzIcon="bars">
        <ul>
          <li cNavLink nz-menu-item routerLink="/fee-structure" routerLinkActive="active-link">Fee-Structure</li>
          <li cNavLink nz-menu-item routerLink="/receipt" routerLinkActive="active-link">Receipt</li>
        </ul>
      </li>
      <li nz-menu-item class="down">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
        <span cNavLink routerLink="" routerLinkActive="active-link">Settings</span>
      </li>

      <!--<li nz-menu-item>
            <i nz-icon nzType="file"></i>
            <span>File</span>
          </li>-->

    </ul>
  </nz-sider>
  <!-- Sidenav ends -->

  <nz-layout>
    <!-- Navbar starts -->
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed">
      </i>

      <div class="row mt-2 ml-auto">
        <div class="d-flex">
          <button class="btn" data-bs-toggle="" aria-expanded="false">
            <i nz-icon nzType="bell" nzTheme="outline"></i>
          </button>
          <div class="profile-logo dropdown ms-auto">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i nz-icon nzType="user" nzTheme="outline"></i>
            </button>
            <ul class="dropdown-menu dropdown-dark">
              <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="dropdown-item">
                  <i nz-icon nzType="user" nzTheme="outline"></i>Your Profile
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a href="#" class="dropdown-item">
                  <i nz-icon nzType="export" nzTheme="outline"></i>Log Out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </nz-header>
    <!-- Navbar ends -->

    <nz-content>

      <div class="inner-content">
        <h2>Hi Jed, Welcome Back!</h2>
        <!-- <nz-breadcrumb>
          <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <nz-divider nzOrientation="left" nzText="Dependants"></nz-divider>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box" style="color: white;">Riara high school <div class="space">17G01ABT006</div>
              <div class="space">Form III</div>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div style="background-color: white;" class="inner-box">Fee Paid
              <div class="break"><strong>KSH 10,000</strong><img src="\assets\Images\take-my-money-svgrepo-com.svg"
                width="30px" height="30px" alt="Logo" class="img-fluid"class="float-end"></div>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div style="background-color: white;" class="inner-box">col-6</div>
          </div>
        </div>


        <nz-divider nzOrientation="left" nzText="Previous Transactions"></nz-divider>

        <nz-table #fixedTable [nzData]="listOfData" nzTableLayout="fixed">
          <thead>
            <tr>
              <th>Contributor</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Date</th>
              <th nzEllipsis>Payment Method</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of fixedTable.data">
              <td>{{ data.contributor }}</td>
              <td>{{ data.amount }}</td>
              <td nzEllipsis><button class="button1" type="button">{{ data.status }}</button></td>
              <td nzEllipsis>{{ data.date }}</td>
              <td nzEllipsis>{{ data.paymentmethod }}<button id="collapsible" class="button2" type="button"><i nz-icon
                    nzType="down"></i></button></td>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.</p>
              </div>

            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>

<!-- modal starts -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">My Profile</h1>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- modal ends -->