<nz-layout>
  <!-- Sidenav starts -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <a routerLink="/home"><img src="\assets\Images\Logo.png" width="50px" height="50px" alt="Logo"  class="img-fluid"></a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item style="color: black;" cNavLink  routerLink="" routerLinkActive="active-link">
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item style="color: black;"  cNavLink routerLink="/fee-payment" routerLinkActive="active-link">
        <i nz-icon nzType="wallet" nzTheme="outline"></i>
        <span>Fee-Payment</span>
      </li>
      <li nz-menu-item style="color: black;" cNavLink  routerLink="/fee-statement" routerLinkActive="active-link">
        <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
        <span>Fee-Statement</span>
      </li>
      <li nz-menu-item style="color: black;"  cNavLink routerLink="/transactions" routerLinkActive="active-link">
        <i nz-icon nzType="transaction" nzTheme="outline"></i>
        <span>Transactions</span>
      </li>
      <li nz-menu-item class="down" style="color: black;" cNavLink routerLink="" routerLinkActive="active-link">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
        <span>Settings</span>
      </li>

      <!--<li nz-menu-item>
            <i nz-icon nzType="file"></i>
            <span>File</span>
          </li>-->

    </ul>
  </nz-sider>
  <!-- Sidenav ends -->

  <nz-layout>
    <!-- Navbar starts -->
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed">
      </i>

      <div class="row mt-2 ml-auto">
        <div class="d-flex">
          <button class="btn" data-bs-toggle="" aria-expanded="false" aria-label="notification">
            <i nz-icon nzType="bell" nzTheme="outline"></i>
          </button>
          <div class="profile-logo dropdown ms-auto">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-label="profile">
              <i nz-icon nzType="user" nzTheme="outline"></i>
            </button>
            <ul class="dropdown-menu dropdown-dark">
              <li>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="dropdown-item">
                  <i nz-icon nzType="user" nzTheme="outline"></i>Your Profile
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/landingpage">
                  <i nz-icon nzType="export" nzTheme="outline"></i>Log Out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nz-header>
    <!-- Navbar ends -->

    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Fee-Statement</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">...</div>
    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>
</nz-layout>

<!-- modal starts -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">My Profile</h1>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="FirstName">First Name</nz-form-label>
            <nz-form-control [nzSpan]="9">
              <input type="text" nz-input formControlName="firstName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="LastName">Last Name</nz-form-label>
            <nz-form-control [nzSpan]="9">
              <input type="text" nz-input formControlName="LastName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">Email Address</nz-form-label>
            <nz-form-control [nzSpan]="9">
              <input type="text" nz-input formControlName="email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="contactNumber">Phone No.</nz-form-label>
            <nz-form-control [nzSpan]="9">
              <input type="text" nz-input formControlName="contactNumber"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="idNumber">ID No.</nz-form-label>
            <nz-form-control [nzSpan]="9">
              <input type="text" nz-input formControlName="idNumber" />
            </nz-form-control>
          </nz-form-item>
        </form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- modal ends -->