<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
    <div class="container">



        <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/Images/Logo.png" alt="alternative"
                width="40px" height="40px" /></a>

        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ms-auto navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contacts</a>
                </li>
            </ul>
            <span class="nav-item">
                <a class="btn-solid-sm" routerLink="/login">Login</a>
            </span>
            <span class="nav-item">
                <a class="btn-solid-sm" routerLink="/register">Sign Up</a>
            </span>
        </div>
    </div>
</nav>

<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h1>School fee payments made <strong>easy, fast, convinient</strong> and <strong>SAFE.</strong></h1>
                    <p class="p-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim, neque ut
                        ultrices sollicitudin</p>
                    <a class="btn-solid-lg">Explore</a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/Images/animation.png" alt="alternative" />
                </div>
            </div>
        </div>
    </div>
</header>

<div id="features" class="cards-2 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">SERVICES/FEATURES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">


                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SECURITY</h5>
                        <p class="testimonial-text">The school pay system provides very secure processes through out the
                            nodes of each transaction.</p>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <div class="height">
                            <h5 class="card-title">PAYMENTS</h5>
                            <p class="testimonial-text">Parents or guardians are able to make school fee payments in
                                just a few minutes using the payment channel of their liking.</p>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">REPORTS</h5>
                        <p class="testimonial-text">It provides a well designed report criteria for school
                            administrators and payment channels.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="copyright bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12">
                <ul class="mr-3">
                    <li><a href="#"><strong>GET IN TOUCH</strong></a></li>
                    <li><a href="#">Website: www.SPay.co.ke</a></li>
                    <li><a href="#">Email: support@SPay.co.ke</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <ul>
                    <li><a href="#">Faqs</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Partnerships</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <ul class="mt-5">
                    <br>
                    <li><a href="#">© 2022 SPay by Eclectics International Ltd</a></li>
                </ul>
            </div>
            

            <div class="col-lg-2 col-md-12 col-sm-12">
                <ul class="mr-3">
                    <li><a href="#"><strong>Download now</strong></a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">All rights reserved</a></li>
                    <li><a href="#">User Agreement</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<button id="myBtn">
    <img src="assets/Images/up-arrow.png" alt="alternative" />
</button>