body,
html {
    width: 100%;
    height: 100%;
}

body,
p {
    color: #5e6576;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
    text-align: left;
    letter-spacing: NaNpx;
    color: #000000;
    opacity: 1;
    line-height: 3.25rem;
    font-size: 1.75rem;
    font-family: normal normal normal 60px/90px Poppins;
}

h2 {
    color: #223150;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.4px;
    text-align: center;
}

h3 {
    color: #223150;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.2px;
}

h4 {
    color: #223150;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.2px;
}

h5 {
    color: #223150;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625rem;
    text-align: center;
}

h6 {
    color: #223150;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
}

.p-large {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.p-small {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.li-space-lg li {
    margin-bottom: 0.5rem;
}

a {
    color: #5e6576;
    text-decoration: underline;
}

a:hover {
    color: #5e6576;
    text-decoration: underline;
}


.bg-gray {
    background-color: #fcfafb;
}


.btn-solid-lg {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 2.625rem;
    border: 1px solid #1F92CC;
    border-radius: 30px;
    background-color: #1F92CC;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-lg:hover {
    background-color: transparent;
    color: #0092ff;
    /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}

.btn-solid-sm {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid #1F92CC;
    border-radius: 30px;
    background-color: #1F92CC;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-sm:hover {
    background-color: transparent;
    color: #0092ff;
    /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
    background-color: #fcfafb;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 126px;
    height: 32px;
}

.offcanvas-collapse {
    position: fixed;
    top: 3.25rem;
    /* adjusts the height between the top of the page and the offcanvas menu */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fcfafb;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.navbar .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #5e6576;
    text-decoration: none;
    transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: #0092ff;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
    animation: fadeDropdown 0.2s;
    /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar .navbar-toggler {
    padding: 0;
    border: none;
    font-size: 1.25rem;
}


/******************/
/*     Header     */
/******************/
.header {
    padding-top: 8rem;
    padding-bottom: 4em;
    text-align: center;
}

.header .h1-large {
    margin-bottom: 1.75rem;
}

.header .p-large {
    margin-bottom: 2.25rem;
}

.header .image-container {
    margin-top: 5rem;
}


/********************/
/*     Services     */
/********************/
.cards-1 {
    padding-top: 5rem;
    padding-bottom: 2.25em;
    background-color: #1F92CC;
}

.cards-1 h2 {
    margin-bottom: 3.5rem;
}

.cards-1 .card {
    margin-bottom: 5rem;
    border: none;
    background-color: transparent;
}

.cards-1 .card-body {
    padding: 0;
}

.cards-1 .card-title {
    margin-bottom: 1.125rem;
}

.cards-1 .card-body p {
    margin-bottom: 1.125rem;
}


/************************/
/*     Testimonials     */
/************************/
.cards-2 {
	padding-top: 9.5rem;
	padding-bottom: 2.25rem;
	text-align: center;
    background-color: #1F92CC;
}

.cards-2 .h2-heading {
	margin-bottom: 3.75rem;
    color: #FFFFFF;
}

.cards-2 .card {
	position: relative;
	margin-bottom: 5rem;
	border-radius: 20px;
	box-shadow: 20px 25px 25px #00000066;
    height: 500px;
}

.cards-2 .card .quotes {
	position: absolute;
	top: -15px;
	right: 0;
	left: 0;
	width: 48px;
	margin-right: auto;
	margin-left: auto;
}

.cards-2 .card-body {
	padding: 3.5rem 2rem 3.125rem 2rem;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
    padding-top: 1.5rem;
    border-top: 1px solid #d0dae2;
    text-align: center;
    background-color: #F2F2F2;
}

.copyright a {
    text-decoration: none;
}

.copyright .list-unstyled,
.copyright .statement {
    opacity: 0.7;
}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #44434a;
    cursor: pointer;
}

#myBtn:hover {
    background-color: #1d1d21;
}

#myBtn img {
    margin-bottom: 0.25rem;
    width: 18px;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
    padding-top: 9rem;
    padding-bottom: 5rem;
    background-color: #fcfafb;
}

.ex-basic-1 .list-unstyled .fas {
    font-size: 0.375rem;
    line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
    margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
    padding: 1.25rem 1.25rem 0.5rem 1.25rem;
    background-color: #fcfafb;
}

.ex-cards-1 .card {
    border: none;
    background-color: transparent;
}


/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {

    /* Header */
    .header {
        padding-top: 9rem;
        padding-bottom: 5em;
    }

    .header .h1-large {
        font-size: 3.25rem;
        line-height: 3.75rem;
    }

    /* end of header */


    /* Statistics */
    .counter .counter-cell {
        display: inline-block;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        vertical-align: top;
    }

    /* end of statistics */


    /* Extra Pages */
    .ex-basic-1 .text-box {
        padding: 1.75rem 2rem 0.875rem 2rem;
    }

    /* end of extra pages */
}

/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {

    /* General Styles */
    .h2-heading {
        width: 35.25rem;
        margin-right: auto;
        margin-left: auto;
    }

    .p-heading {
        width: 46rem;
        margin-right: auto;
        margin-left: auto;
    }

    /* end of general styles */


    /* Navigation */
    .navbar {
        padding-top: 1.75rem;
        background-color: #fcfafb;
        box-shadow: none;
        transition: all 0.2s;
    }

    .navbar.top-nav-collapse {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #fcfafb;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    }

    .offcanvas-collapse {
        position: static;
        top: auto;
        bottom: auto;
        left: auto;
        width: auto;
        padding-right: 0;
        padding-left: 0;
        background-color: transparent;
        overflow-y: visible;
        visibility: visible;
    }

    .offcanvas-collapse.open {
        -webkit-transform: none;
        transform: none;
    }

    .navbar .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar .nav-item .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

    .navbar .dropdown-menu {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
    }

    .navbar .dropdown-divider {
        width: 90%;
    }

    .navbar .nav-item .btn-solid-sm {
        margin-top: 0;
        margin-left: 1rem;
    }

    /* end of navigation */


    /* Header */
    .header {
        text-align: left;
    }

    .header .text-container {
        margin-top: 4rem;
    }

    .header .image-container {
        margin-top: 0;
    }

    .header .btn-solid-lg,
    .header .btn-outline-lg {
        margin-right: 0;
        margin-left: 0;
    }

    .header .btn-solid-lg {
        margin-right: 0.5rem;
    }

    /* end of header */


    /* Services */
    .cards-1 .card {
        display: inline-block;
        width: 286px;
        vertical-align: top;
    }

    .cards-1 .card:nth-of-type(3n+2) {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    /* end of services */

    	/* Testimonials */
	.cards-2 .card {
		display: inline-block;
		width: 298px;
		vertical-align: top;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of testimonials */

    /* Copyright */
    .copyright {
        text-align: left;
    }

    .copyright .list-unstyled li {
        display: inline-block;
        margin-right: 1rem;
    }

    .copyright .statement {
        text-align: right;
    }

    /* end of copyright */


    /* Extra Pages */
    .ex-cards-1 .card {
        display: inline-block;
        width: 296px;
        vertical-align: top;
    }

    .ex-cards-1 .card:nth-of-type(3n+2) {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    /* end of extra pages */
}

/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

    /* General Styles */
    .container {
        max-width: 1140px;
    }

    /* end of general styles */


    /* Header */
    .header {
        overflow: hidden;
        padding-top: 20.25rem;
        padding-bottom: 15rem;
    }

    .header .text-container {
        margin-top: 0;
    }

    .header .image-container {
        position: relative;
    }

    .header .image-container img {
        position: absolute;
        bottom: -400px;
        left: 60px;
        width: 500px;
        height: 600px;
        max-width: none;
    }

    /* end of header */

    .cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1.125rem;
		margin-left: 1.125rem;
	}
	/* end of testimonials */

    /* Services */
    .cards-1 .card {
        width: 310px;
    }

    .cards-1 .card:nth-of-type(3n+2) {
        margin-right: 5.5rem;
        margin-left: 5.5rem;
    }

    /* end of services */


    /* Extra Pages */
    .ex-cards-1 .card {
        width: 336px;
    }

    .ex-cards-1 .card:nth-of-type(3n+2) {
        margin-right: 2.875rem;
        margin-left: 2.875rem;
    }

    /* end of extra pages */
}

/* end of min-width 1200px */